.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    /* max-width: 1440px; */
}
/* nav styles */
.navigation{
    /* max-width: 1440px; */
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 200px; */
    margin: 0 80px 10px 80px;
}
.logo{
    font-size: xx-large;
    color: #4E47FF;
    font-weight: 800;
}
.buttons{
    font-size: 20px;
    border: none;
    background-color: #4E47FF;
    border-radius: 5px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}
.buttons:hover {
    /* text-decoration: solid; */
    background-color: orangered;
    color: #FFFFFF;
    transform: translateY(-3px) scale(1.02);
}

/* header styles */
.headerr{
    /* max-width: 1440px; */
    background-image: url(../images/Hero-bg.png);
}
.headtitle{
    text-align: center;
    margin-top: 158px;
    font-size: 40px;
    font-weight: 1000;
}
.headerbutton{
    text-align: center; 
    margin-bottom: 70px;
    padding-bottom: 300px;  
}
/* main styles */
.main-division{
    max-width: 1140px;
    max-height: 328px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.main-head{
    font-size: 30px;
    color: #252432;
    padding-top: 15px;
}
.main-para{
    font-size: larger;
    color: #252432;
    padding-bottom: 20px;
}
.first-division{
    padding-left: 18px;
    padding-right: 5px;
}
.miniimage {
    border-radius: 20px;
} 
/* Main 2nd part */
.main-second-part{
    max-width: 1140px;
    height: 306px;
    background-color: #d9d8ec;
    margin: 60px auto;
    border-radius: 15px;
}

.details-division{
    display: flex;
    justify-content: space-around;
}

.detailshead{
    color: #4E47FF;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 2px;
}
.detailspara{
    margin-top: 0;
}
/* Card Style */
.card-child{
    /* border: 3px solid red; */
    max-width: 366.67px;
    height: 243px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 9px 1px #d9d8ec;
}
.total-card-flex{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: baseline;
}
.star-div{
    padding-left: 40px;
    padding-top: 30px;
}
.custom-cards{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 34px;
    padding-left: 0;
}
.cushead{
    margin-bottom: 4px;
    padding-right: 80px;
}
.card-comments{
    padding-left: 40px;
    padding-top: 5px;
}
.cuscom{
    margin-top: 0;
}
.card-customer-image{
     display: block;
     margin-left: 0;
     padding-left: 40px;
     width: 40px;
    height: 40px;
    border-radius: 50%;
     margin: 0;
}
.star-div{
    display: flex;
    justify-content: baseline;
}
.final-review{
    margin-bottom: 0px;
}
.final-com{
    margin-top: 0;
}
/* Form Part Styles */
.form-mother{
    /* border: 3px solid red; */
    background-color: #ececf6;
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
}
.form-left-side{
    font-size: 50px;
    margin-top: 150px;
}
.container{
    width: 600px;
    height: 550px;
    background-color: #f0ff17;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .form{
    padding: 2rem;
}
.form header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}
.form input{
    height: 60px;
    width: 497px;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    outline: none;
}
.form textarea{
    height: 100px;
    width: 497px;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    outline: none;
}
.form textarea::placeholder {
    text-align: left;
    padding-top: 20px;
}
/* footer starts */
.footerfinal{
    width: 1440px;
    height: 428px;
    margin: 0 auto;
    margin-top: 100px;
    /* text-align: center; */
    /* border: 3px solid green; */
}
.footerlogo{
    text-align: center;
    margin-top: 100px;
}
.footerhead{
    font-size: 75px;
    color: #4E47FF;
    margin-bottom: 0;
}
.footerpara{
    font-size: large;
    color: #8987A1;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
    margin-top: 20px;
}
.footer-nav ul li{
    list-style-type: none;
    padding-inline: 20px;
}
.footer-nav a{
    text-decoration: none;
    color: #8987A1;
    font-size: larger;
}
.footer-nav ul{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.footer-nav{
    margin-top: 30px;
}
/* Extra Part */
.extra-mother{
    width: 1140px;
    height: 696.77px;
    margin: 0 auto;
    margin-top: 100px;
}
.extra-child-one{
    text-align: center;
    justify-content: center;
}
.extra-head{
    font-size: 50px;
    margin-bottom: 0;
}
.extra-para{
    font-size: large;
    color: #8987A1;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}
.extra-child-two{
    text-align: center;
    margin-top: 30px;
}
.extra-child-two img{
    width: 840px;
    height: 364.77px;
    border-radius: 20px;
}